
/*
  Import the common theme.
  */
  @import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
  */

  .beer {
  	margin: 0;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  }

  img{
  	height: 150px;
  	margin:0 auto;

  }
  article {
  	border: 4px black solid;  	
  	margin: 0 auto;
  	width: 250px;
  	height:350px;
  	text-align: center;
  	display: table-cell;
  	vertical-align: middle;
  }

